In [1]:
import nltk

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\SAHIL SHINGNE\\Downloads\\stock_data.csv")

In [4]:
df

                                                   Text  Sentiment
0     Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1     user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2     user I'd be afraid to short AMZN - they are lo...          1
3                                     MNTA Over 12.00            1
4                                      OI  Over 21.37            1
...                                                 ...        ...
5786  Industry body CII said #discoms are likely to ...         -1
5787  #Gold prices slip below Rs 46,000 as #investor...         -1
5788  Workers at Bajaj Auto have agreed to a 10% wag...          1
5789  #Sharemarket LIVE: Sensex off day’s high, up 6...          1
5790  #Sensex, #Nifty climb off day's highs, still u...          1

[5791 rows x 2 columns]

In [5]:
x=df["Text"].copy()
y=df["Sentiment"].copy()

In [6]:
y

0       1
1       1
2       1
3       1
4       1
       ..
5786   -1
5787   -1
5788    1
5789    1
5790    1
Name: Sentiment, Length: 5791, dtype: int64

In [7]:
x_train=x[:4000].copy()
x_test=x[4000:].copy()
y_train=y[:4000].copy()
y_test=y[4000:].copy()

In [8]:
x_test

4000    user: Mr AAP is going to have to stop hanging ...
4001                     GMX just .20 cents until target.
4002    Back in on the short side of COG, hedging my o...
4003         GMX BINGO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
4004    KWK 5MM shares traded so far, this is getting ...
                              ...
5786    Industry body CII said #discoms are likely to ...
5787    #Gold prices slip below Rs 46,000 as #investor...
5788    Workers at Bajaj Auto have agreed to a 10% wag...
5789    #Sharemarket LIVE: Sensex off day’s high, up 6...
5790    #Sensex, #Nifty climb off day's highs, still u...
Name: Text, Length: 1791, dtype: object

In [9]:
x_train.replace("[^a-zA-Z]"," ",regex=True, inplace=True)
x_test.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

In [10]:
x_test

4000    user  Mr AAP is going to have to stop hanging ...
4001                     GMX just     cents until target
4002    Back in on the short side of COG  hedging my o...
4003         GMX BINGO
4004    KWK  MM shares traded so far  this is getting ...
                              ...
5786    Industry body CII said  discoms are likely to ...
5787     Gold prices slip below Rs        as  investor...
5788    Workers at Bajaj Auto have agreed to a     wag...
5789     Sharemarket LIVE  Sensex off day s high  up  ...
5790     Sensex   Nifty climb off day s highs  still u...
Name: Text, Length: 1791, dtype: object

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [12]:
countvector=CountVectorizer(ngram_range=(2,2))
train=countvector.fit_transform(x_train)

In [13]:
train

<4000x31305 sparse matrix of type '<class 'numpy.int64'>'
	with 45165 stored elements in Compressed Sparse Row format>

In [14]:
cls=RandomForestClassifier(n_estimators=200,criterion="entropy")
cls.fit(train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [15]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [16]:
x_t=[]
for i in range(4000,5791):
    x_t.append(x_test[i])

In [17]:

test=countvector.transform(x_t)

In [18]:
predict=cls.predict(test)

In [19]:
score=accuracy_score(y_test,predict)

In [20]:
score

0.5561139028475712

In [21]:
matrix=confusion_matrix(y_test,predict)

In [22]:
matrix

array([[ 68, 771],
       [ 24, 928]], dtype=int64)